*{
  overflow-x: hidden;
}
#del{
  background-size: cover;
  height: 100vh;
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
}
.col-md-12{
  text-align: center;
  padding:50px;
  color:white;
}

#logo{
  font-size:2em;
  padding:200px;
}

.abt{
  text-align: center;
  font-size:1em;
  padding:60px;

}

#services{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
  padding:70px;
  color:white;
  font-size:1em;
  text-align: center;
}
#what{
  text-align: center;
  font-size:1em;
}

.us{
  padding:20px;
  
}
#cont{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
  text-align: center;
  font-size: 1.5em;
}
.co{
  text-align:center;
  font-size:2.5em;
  color:white;
}
.jina{
  color:white;
}
.card-footer{
  text-align:center;
}
.name,.email,.comment{
  background-color: transparent;
}
.comment{
  width:110vh;
  height:30vh;
}
.name,.email{
  width:50vh;
}
.name{
  margin-right: 100px;
}
.port{
  text-align: center;
}